@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* color: white; */
}

/* ant pagination  */
.ant-pagination-item {
  border: 1px solid #3a643b !important;
  background-color: transparent !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
  background-color: #3a643b !important;
}

/* card  */
.ant-card {
  border-radius: 18.28px !important;
}
.ant-card-body {
  padding: 0px !important;
}

.ant-timeline-item-head {
  width: 30px !important;
  height: 30px !important;
}

.ant-menu-title-content {
  color: #fff !important;
}

.ant-menu-item-icon {
  color: #fff !important;
}
.ant-menu-item-selected .ant-menu-item-icon {
  color: #3a643b !important;
}
